<div class="relative h-screen overflow-hidden bg-cover bg-center"
  style="background-image: url('assets/img/banner.jpg'); background-attachment: fixed;">
  <!-- Animación gráfica -->
  <div class="animacion-grafica">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center">
      <!-- Título con animación -->
      <h1 class="text-6xl text-white font-bold backdrop-blur-md animate-pulse p-10">
        Bienvenido a B&G Capital
      </h1>

      <!-- Texto que aparece letra por letra -->
      <p class="text-3xl text-white mt-4 backdrop-blur-md p-5">
        <span class="letter block" *ngFor="let text of texts; let i = index"
          [ngClass]="{ 'hidden': i !== currentIndex }">
          {{ text }}
        </span>
      </p>


    </div>
  </div>
</div>
