.animacion-grafica {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  /* Cambiando el color a casi transparente con una opacidad de 0.5 */
  background-image: linear-gradient(-45deg, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 0.5) 25%, rgba(53, 54, 57, 0.653) 51%, rgba(255, 53, 127, 0.5) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Añadir animaciones para el texto que aparece letra por letra */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in forwards;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: fade-in 1.5s ease forwards;
  animation-delay: var(--delay);
}

.hidden {
  display: none;
}

.letter {
  transition: opacity 1.5s ease-in-out;
}
