<form [formGroup]="form">
  <!-- Selector para el tipo de rendimiento -->
  <label for="tipoRendimiento">Tipo de Rendimiento:</label>
  <select formControlName="tipoRendimiento">
    <option value="rendimiento_anual">Rendimiento Anual</option>
    <option value="rendimiento_acumulado">Rendimiento Acumulado</option>
    <option value="rendimiento_bimestral">Rendimiento Bimestral</option>
  </select>

  <!-- Selector múltiple para las series -->
  <label for="serie">Serie:</label>
  <div>
    <label *ngFor="let serie of ['A', 'B', 'C']">
      <input type="checkbox" [value]="serie" [checked]="serieArray.value.includes(serie)"
        (change)="onSerieChange(serie, $event)">{{ serie }}
    </label>
  </div>
</form>




<!-- Aquí va el gráfico -->
<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
  [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title"></apx-chart>
