@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/swiper/swiper-bundle.css';


.animacion-grafica {
  width: 100%;
  position: relative;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg,
    rgba(21, 56, 95, 0.63) 0%,
    rgba(21, 56, 95, 0.63) 25%,
    rgba(55, 81, 120, 0.563) 35%,
    rgba(54, 64, 86, 0.701) 45%,
    rgba(255, 255, 255, 0.668) 50%,
    rgba(55, 81, 120, 0.563) 65%,
    rgba(21, 56, 95, 0.63) 80%,
    rgba(255, 255, 255, 0.668) 90%,
    rgba(54, 64, 86, 0.701) 100%
  );

  -webkit-animation: AnimateBG 5s ease infinite;
  animation: AnimateBG 5s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animación para texto que aparece letra por letra */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos para los cubos */
.cubo {
  width: 50px; /* Ajusta el tamaño del cubo según lo necesites */
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5); /* Cubo transparente */
  position: absolute;
  bottom: -50px; /* Comienza desde abajo del contenedor */
  animation: desplazar 3s linear infinite;
  opacity: 0; /* Comienza oculto */
}

@keyframes desplazar {
  0% {
    bottom: -50px; /* Empieza fuera de la pantalla */
    opacity: 0; /* Invisible al inicio */
  }
  50% {
    opacity: 1; /* Hace visible el cubo */
  }
  100% {
    bottom: 100%; /* Se desplaza hacia arriba fuera de la pantalla */
    opacity: 0; /* Se vuelve invisible al salir */
  }
}
