<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    <!-- Más diapositivas -->
  </div>

  <!-- Paginación -->
  <div class="swiper-pagination"></div>

  <!-- Botones de navegación -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Scrollbar (si lo necesitas) -->
  <div class="swiper-scrollbar"></div>
</div>
