<div class="animacion-grafica">
  <app-header></app-header>
  <app-carrusel></app-carrusel>
  <router-outlet></router-outlet>
  <div class="animacion-grafica">
    <div class="cubo" style="left: 10%; animation-delay: 0s;"></div>
    <div class="cubo" style="left: 30%; animation-delay: 0.5s;"></div>
    <div class="cubo" style="left: 50%; animation-delay: 1s;"></div>
    <div class="cubo" style="left: 70%; animation-delay: 1.5s;"></div>
    <div class="cubo" style="left: 90%; animation-delay: 2s;"></div>
  </div>

  <app-footer></app-footer>
</div>
