<!-- About Section 1 -->
<section class="page-section bg-no-repeat animacion-grafica "
  style="background-image: url('img/cta-dots-bg.png'); padding-top: 60px; padding-bottom: 30px;">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 text-center">
        <div class="container-fluid">
          <br>
          <div data-aos="fade-right">
            <img src="img/lg1-11.jpg" class="max-h-[420px] w-[84%] relative top-[-8px] left-[2.5%] z-2 shadow-lg">
          </div>
          <div data-aos="fade-up-right">
            <img src="img/trading1.jpg"
              class="absolute left-[-3%] bottom-[6%] z-3 max-h-[250px] w-[60%] shadow-lg grayscale">
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <div class="container-fluid backdrop-blur-md">
          <br>
          <h2 class="text-[#375178]">NOSOTROS</h2>
          <hr class="divider light my-4 border-[#0093e7]">
          <p class="font-light text-justify leading-6">
            <strong>B&G Capital</strong> nació en 2017 como una iniciativa de inversión que combina más de 15 años de
            experiencia en consultoría y capacitación de alto nivel para el sector financiero en México y América Latina
            desarrollado por Business and Growth S.C.<br><br>
            Nuestro mayor activo
            descansa en los modelos
            cuantitativos de análisis,
            operación y estrategias de
            inversión que han sido
            diseñados por el equipo de
            Inversiones.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section 2 -->
<section class="page-section backdrop-blur-md"
  style="background-image: url('img/cta-dots-bg.png'); padding-top: 25px; padding-bottom: 60px;">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div id="animatedBackground" class="absolute inset-0"></div>
      <div class="w-full md:w-1/2">
        <div class="container-fluid">
          <p class="font-light text-justify leading-6">
            <br><strong>B&G Capital</strong> cuenta con un equipo sólido y preparado para realizar análisis de los
            mercados financieros y, con el uso de metodologías propias, establece estrategias para maximizar el
            rendimiento con una adecuada administración de riesgos.<br>
            <br>Desde su creación en 2017, y como parte de una estrategia de promoción de inversiones, B&G Capital ha
            mostrado transparencia y se ha ganado la confianza de sus socios accionistas al ser una alternativa de valor
            en el mercado con resultados comprobables y oportunidad en la revelación de información.
          </p>
        </div>
      </div>
      <div class="w-full md:w-1/2 text-center">
        <div class="container-fluid">
          <div data-aos="fade-left">
            <img src="img/lg1-12.jpg" class="max-h-[420px] w-[84%] relative top-[-8px] left-[2.5%] z-2 shadow-lg">
          </div>
          <div data-aos="fade-up-left">
            <img src="img/trading.jpg"
              class="absolute right-[-3%] bottom-[6%] z-3 max-h-[250px] w-[60%] shadow-lg grayscale">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
