<section id="portfolio" class=" py-10">
  <h2 class="text-black text-4xl font-serif text-center">Objeto Social</h2>
  <hr class="divider my-4 border-black" />

  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="flex flex-col items-center pt-10 backdrop-blur">
        <i class="fas fa-atom fa-3x" data-aos="fade-up" data-aos-duration="1400"></i>
        <p class="font-light text-justify text-base mx-5 mt-4" data-aos="fade-up" data-aos-duration="800">
          Adquirir y enajenar, bajo cualquier título legal: acciones, intereses y participaciones.
        </p>
      </div>
      <div class="flex flex-col items-center pt-10">
        <i class="fas fa-chart-pie fa-3x" data-aos="fade-up" data-aos-duration="1400"></i>
        <p class="font-light text-justify text-base mx-5 mt-4" data-aos="fade-up" data-aos-duration="800">
          Brindar servicios de interrelación, entre emprendedores e inversionistas, a través de crowdfunding.
        </p>
      </div>
      <div class="flex flex-col items-center pt-10">
        <i class="fas fa-briefcase fa-3x" data-aos="fade-up" data-aos-duration="1400"></i>
        <p class="font-light text-justify text-base mx-5 mt-4" data-aos="fade-up" data-aos-duration="800">
          Obtener toda clase de préstamos o créditos, emitir obligaciones, bonos, papel comercial, así como aceptar,
          girar o endosar o garantizar todo tipo de título de crédito con o sin garantía.
        </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
      <div class="flex flex-col items-center pt-10">
        <i class="far fa-chart-bar fa-3x" data-aos="fade-up" data-aos-duration="1400"></i>
        <p class="font-light text-justify text-base mx-5 mt-4" data-aos="fade-up" data-aos-duration="800">
          Administración de Fondos de Capital Privado.
        </p>
      </div>
      <div class="flex flex-col items-center pt-10">
        <i class="fas fa-cogs fa-3x" data-aos="fade-up" data-aos-duration="1400"></i>
        <p class="font-light text-justify text-base mx-5 mt-4" data-aos="fade-up" data-aos-duration="800">
          En relación con las Sociedades que tenga participación económica o como acreedor, prestar todo tipo de
          servicios de asesoría y consultoría.
        </p>
      </div>
      <div class="flex flex-col items-center pt-10">
        <i class="fas fa-chart-line fa-3x" data-aos="fade-up" data-aos-duration="1400"></i>
        <p class="font-light text-justify text-base mx-5 mt-4" data-aos="fade-up" data-aos-duration="800">
          Desarrollar proyectos de investigación en cualquier rama de la actividad comercial, así como la preparación,
          desarrollo y aplicación de programas de capacitación.
        </p>
      </div>
    </div>
  </div>
</section>
