<section class="bg-cover bg-center"
  style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.44) 0%, rgba(0, 0, 0, 0.82) 100%), url('img/fondo3.jpg')">
  <div class="container mx-auto px-4 py-10">
    <div class="text-center">
      <h2 class="text-white text-4xl font-semibold">LINEAS DE NEGOCIO</h2>
      <hr class="divider light my-4 border-white" />
      <p class="text-white font-light text-lg">
        <b>B&G Capital</b> forma parte de una estrategia corporativa que combina Educación y consultoría en Economía y
        Finanzas con la promoción de inversiones en mercados financieros y en proyectos de desarrollo de Sistemas y
        aplicaciones web.
      </p>
      <br>
    </div>

    <div class="bg-[#15385fa1] text-white p-5 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="bg-[#d9dcde33] p-8 text-center rounded-lg" data-aos="fade-right">
          <i class="far fa-chart-bar fa-2x"></i>
          <p class="mt-4">B&G Capital crea una línea de negocio en la Administración de Inversiones, que a su vez se
            divide en estrategias en los mercados de capitales y en derivados financieros.</p>
        </div>
        <div class="bg-[#4b6f9aa6] p-8 text-center rounded-lg">
          <i class="fas fa-code fa-2x"></i>
          <p class="mt-4">Adicionalmente, se ha desarrollado una línea de negocio en Innovación y desarrollo de
            proyectos de inversión, asociados a la creación de APPs y desarrollo de proyectos de Sistemas.</p>
        </div>
        <div class="bg-[#d9dcde33] p-8 text-center rounded-lg" data-aos="fade-left">
          <i class="fas fa-chart-pie fa-2x"></i>
          <p class="mt-4">B&G Capital desarrolla programas de capacitación In-company y de especialización para el
            sector financiero. Además de la consultoría en materia de inversiones, riesgos y sistemas.</p>
        </div>
      </div>
    </div>

    <div class="text-center mt-8">
      <p class="text-white font-light text-lg">Realizamos la gestión de inversiones operando a través de la plataforma
        de <b><i>Excent Capital</i></b>.</p>
    </div>
  </div>
</section>
